*.iml
.idea/
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
app/release
app/debug

# Peloton sensors library build files
peloton-sensors/build/
peloton-sensors/.gradle/
peloton-sensors/.cxx/
peloton-sensors/.externalNativeBuild/
peloton-sensors/*.iml
peloton-sensors/local.properties
peloton-sensors/release/
peloton-sensors/debug/